<h1>Editing Profile</h1>

<%= render "form", profile: @profile %> <!-- Render the form partial for editing the profile -->

<br>

<div>
  <%= link_to "Show this profile", @profile, class: "btn btn-info" %> | <!-- Link to view the profile -->
  <%= link_to "Back to profiles", profiles_path, class: "btn btn-secondary" %> <!-- Link to go back to profiles list -->
</div>