<h1>Create a New Profile</h1>

<%= render "form", profile: @profile %> <!-- Render the form partial for profile creation -->

<br>

<div>
  <%= link_to "Back to Profiles", profiles_path, class: "btn btn-secondary" %> <!-- Link to go back to the profiles list -->
</div>