<h1>Editing Access Log</h1>

<%= render "form", access_log: @access_log %>

<br>

<div>
  <%= link_to "Show this Access Log", @access_log, class: 'btn btn-info' %> |
  <%= link_to "Back to Access Logs", access_logs_path, class: 'btn btn-secondary' %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>