<h1>Create New User</h1>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<p>Please fill in the details below to create a new user.</p>

<%= render "form", user: @user %>

<div class="mt-3">
  <%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>
</div>