<h1>Editing elevated access request</h1>

<%= render "form", elevated_access_request: @elevated_access_request %>

<br>

<div>
  <%= link_to "Show this elevated access request", @elevated_access_request %> |
  <%= link_to "Back to elevated access requests", elevated_access_requests_path %>
</div>
