<h1>Editing access point</h1>

<%= render "form", access_point: @access_point %>

<br>

<div>
  <%= link_to "Show this access point", @access_point %> |
  <%= link_to "Back to access points", access_points_path %>
</div>
